<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/Seoka-Design-Studio/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="devseoka" />
      <add key="ClearTextPassword" value="" />
    </github>
  </packageSourceCredentials>
</configuration>
